/__pycache__/*
/.vscode/*
/bin/*
/Include/*
/include/*
/Lib/*
/lib/*
/lib64
/lib64/*
/logs/*
/migrations/*
/flask_session/
/flask_session/*
/*/__pycache__/*
/*/*/__pycache__/*
/*/*/*/__pycache__/*
/Scripts/*
/share/*
/pyvenv.cfg
/config/config.yaml